*.*~
*.bak
*.qws
*.qsf
*.qpf
*.swp
*.ddb
*.do
*.wlf
*.cr.mti
*.mpf
*.mpf
*.rpt
*.done
*.summary
*.vstf
/db/*
/output_files/*
/incremental_db/*
/work/*
/simulation/*
/Izbaceno_iz_projekta/*
/IO/*
/Struja_Djole/*
transcript
